<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :user_account do |acc| %>
    <div class="field">
      <%= acc.label :username %><br />
      <%= acc.text_field :username %>
    </div>
    <div class="field">
      <%= acc.label :password %><br />
      <%= acc.password_field :password %>
    </div>

    <table id="permissions_table">
      <caption>Permissões</caption>
      <thead data-bind="ifnot: permissions().length == 0">
        <tr><th>Nível</th><th>Liberações</th><th>Remover</th></tr>
      </thead>
      <tbody data-bind="foreach: permissions">
        <tr>
          <td><select>
            <option></option>
            <option>Admin</option>
            <option>Logs</option>
            <option>Backup</option>
          </select></td>
          <td><select>
            <option></option>
            <option>Read-Only</option>
            <option>Read-Write</option>
            <option>Read-Write-Delete</option>
          </select></td>
          <td><input type="checkbox" /></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">
            <p data-bind="if: empty()">
              Clique em Adicionar para conceder permissões.
            </p>
            <button data-bind="click: add">Adicionar</button>
          </th>
        </tr>
      </tfoot>
    </table>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  var view_model = new PermissionListViewModel();
  var permissions_table = document.getElementById("#permissions_table");
  ko.applyBindings(view_model, permissions_table);
</script>
